*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

/* First Half */

header {
  background-color: #1f2937;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  flex-shrink: 1;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.first-content {
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 7rem 3.75rem;
}

.hero {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

button {
  background-color: #3882f6;
  color: white;
  padding: 10px;
  width: 130px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.golden-puppy {
  border-radius: 20px;
  height: auto;
  width: 25rem;
  max-width: 90%;
}

/* 2nd Half */
.image-card img {
  width: 90%;
  max-width: 12.5rem;
  height: auto;
  object-fit: cover;
}

.info-header {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
  padding: 40px;
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 7rem;
}

.image-card img {
  border: 1px solid rgb(58, 58, 58);
  border-radius: 10px;
}

.image-card p {
  text-align: center;
  width: 11rem;
  margin: 0.5rem 0.3rem;
  color: #656668;
  font-size: 1rem;
}

.quote-container {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  padding: 10rem;
  align-items: center;
}

.quote-text {
  font-style: italic;
  font-size: 2.25rem;
  font-weight: 300;
  color: #1f2937;
  max-width: 70rem;
}

.quoter {
  font-size: 1.5rem;
  font-weight: 900;
  display: flex;
  margin-left: 54rem;
}

.cta-section {
  padding: 4rem 1rem;
  margin: 2rem auto;
}

.cta-box {
  background-color: #3882f6;
  border-radius: 10px;
  padding: 2.5rem 3rem;
  max-width: 70rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

.cta-button {
  border: solid white;
  font-size: 1rem;
  font-weight: 400;
}

.cta-text {
  color: white;
  font-size: 1.2rem;
}

.footer {
  color: rgb(221, 220, 220);
  padding: 2rem;
  background-color: #1f2937;
  text-align: center;
}

button:hover {
  background: #2c67c5;
}

li:hover {
  background-color: #2d3b50;
}

img:hover {
  transform: scale(1.05);
}
